<div id="translation">
	English phrase: <spam class="reference_translation"><%= @reference_translation.translation %></spam>
</div>
<div id="return">
	<%= link_to "Volver", keys_path%>
</div>
<br>

<div id="edit_translation">
	<%= render 'form' %>
</div>


<div id="other_translations">
	<ul>
	<% @translations.each do |t| %>
		<li class="translated_list"><span><%= t.translation %></span> (<%= t.votes_count %>)</li>
	<% end %>
	</ul>
</div>

<div id="page">
	<%= link_to "Anterior", key_translations_path(@translation.previous) if @translation.previous %>
	<%= link_to "Siguiente", key_translations_path(@translation.next) if @translation.next %>
</div>

